body{
    display: flex;
    background: #c5c2e8;
    width: "500px";
    height: "500px";
    justify-content: center;
}

#start-game{
display: block;
}

#select-category{
display: none;
}

#error{
    display: none;
    color: red;
}


#list li{
    cursor: pointer;
    padding: 2px;
    
}
li:hover{
color: rgb(226, 120, 15);
}

#start-quiz{
    display: none;
}

#currentPlayer{
    color: red;
}

#result-div,#next{
    display: none;
}
